#display{
  background-color:#dedede;
   width: 158px;
}
.displayRow {
  background-color:#dedede;
  width: 158px;
  height:19px;
  display: block;
  text-align: right;
  font-size: 30px;
  

}
#row4{
  text-align: right;
  font-size: 20px;
  color:#6e6e6e;
}
.row {
  background-color: #bfbeb9;
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 5%;
  height: 5%;
}
button {
  background: white;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 1px solid #dedede;
}
#equals {
  background-color: #f97713;
}
#c {
  color: #f97713;
}